:root {
  --text-font: "sans-serif";
  --title-font: "Playwrite USA Modern";
  --title-size: 2.75rem;
  --subtitle-font: "Allura";
  --subtitle-weight: bold;
  --title-weight: bold;
  --title-color: rgb(127, 127, 127);
  --text-color: #705843;
}

