.wrapper {
  --text-font: "sans-serif";
  --title-font: "Allura";
  --title-size: 4.75rem;
  --title-color: rgb(0, 0, 0);
  --title-weight: bold;
  --subtitle-font: "Allura";
  --subtitle-weight: bold;
  --text-color: #000000;
  --bg-color: rgb(69, 69, 69);
  --low-font: "sans-serif";
}

.wrapper button {
  background-color: transparent;
  border-radius: 10%;
  width: 200px;
  min-height: 50px;
  border: 2px black solid;
  color: black;
}
