:root {
  --text-font: "sans-serif";
  --title-font: "Allura";
  --title-size: 4.75rem;
  --title-color: rgb(0, 0, 0);
  --title-weight: bold;
  --subtitle-font: "Allura";
  --subtitle-weight: bold;
  --text-color: #000000;
  --bg-color: rgb(69, 69, 69);
  --low-font: "sans-serif";
}

.HavanaModerna button {
  background-color: transparent;
  border-radius: 10%;
  border: 2px black solid;
  color: black;
}

.HavanaModerna .page-container::before {
  content: '';
  position: absolute; 
  inset: 0; 
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0.9) 100%
  );
  pointer-events: none;
  z-index: 1; 
}