.container {
  display: flex;
  justify-content: center;
}
.wrapper {
  position: relative;
  width: 320px;
  border-radius: 8px;
}
.photoWrapper {
  position: absolute;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
}
