@font-face {
    font-family: 'Architect Daughter';
    src: url('../../../assets/fonts/ArchitectDaughter/ArchitectsDaughter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Rotis sans serif';
    src: url('../../../assets/fonts/RotisSansSerif/RotisSansSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

.body-template3 {
    background-color: #fff;
}

.section-bg-template3 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
    text-align: center;
}

.bg-portada-template3 {
    background-image: url('../images/backgrounds/portada.png');
    
}

.bg-countdown-template3 {
    background-image: url('../images/backgrounds/2.png');
}

.bg-gallery-template3 {
    background-image: url('../images/backgrounds/gallery.png');
}
.bg-asistencia-template4 {
    background-image: url('../images/backgrounds/confirmacion-asistencia.png');
}

.bg-itinerario-template3 {
    background-image: url('../images/backgrounds/itinerario.jpg');
    background-size: contain;
    background-repeat: repeat;


}

/* ===== Estilos para la sección de portada ===== */
.header-invite-template3 {
    position: relative;
}

.header-photo-template3 {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: relative;
    z-index: 3;
    margin-top: 35px;
}

 .heart-frame {
    background: url("../images/marco-corazones.png") center/cover no-repeat;
    position: absolute;
    width: 450px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 15px;
    pointer-events: none;
} 


.invite-name-template3 {
    font-family: 'Architect Daughter', cursive;
    font-size: 3rem;
    color: #000;
    margin-top: 80px;
}

.invite-text-template3 {
    font-size: 1.2rem;
    font-family: 'Rotis sans serif';
    width: 60%;
    color: #000;
}

.invite-date-template3,
.invite-location-template3 {
    font-family: 'Rotis sans serif', cursive;
    font-size: 1.6rem;
    margin-bottom: 0;
    color: #000;
}

.section-title-template3 {
    font-family: 'Architect Daughter', cursive;
    font-size: 3rem;
    color: #000;
}


.song-link-template3 {
    font-size: 1rem;
    color: #000;
}


.btn-cancion{
    background-color: #031757;
    color: #f7f0f0
} 

.section-subtitle-template3 {
    font-size: 1rem;
    color: #000;
}

.countdown-section-template3 {
    position: relative;
    text-align: center;
    padding: 3rem 1rem;
    overflow: hidden;
    color: #000;
}

.countdown-numbers-template3 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.countdown-item-template3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-template3 {
    font-family: 'Rotis sans serif', cursive;
    font-size: 2.5rem;
    color: #000;
    line-height: 1;
}

.label-template {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #fff;
    font-family: 'Rotis sans serif', cursive;
}

 /* .timeline-item h5 {
    margin-top: 0;
    color: #000;
    font-weight: bold;
} */

.timeline-item p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'faustina';
    color: #000;
    line-height: 1.4;
}



 .slider-track{
    display: flex;
    white-space: nowrap;
    overflow:visible;
    
} 

.slider-image{
    height: 100%;
    width: auto;
    margin-right: 1rem;
    flex-shrink: 0;
    object-fit: cover;


} 

.square-carousel {
    background: url("../images/cuadro-carousel.png") center/cover no-repeat;
    aspect-ratio: 3 / 1; /* Ajusta según la forma real del cuadro */
    position: relative;
    overflow: hidden;
    padding: 12% 10%; /* Ajusta la ventana interna del cuadro */
    height: 330px; 
    right: 50px ;
    
}   

.form-title-template3 {
    font-family: 'Architect Daughter', cursive;
    font-size: 3rem;
    color: #fff;
}


 .form-label-custom-template3 {
    font-weight: 500;
    color: #fff;
    font-size: 0.9rem;
} 

 .input-custom-template3 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} 

 .bg-form-template2 {
    background-color: #2C4D65;
} 

.btn-main-template3 {
    background-color: #031757;
    color: #fff;
    border: none;
}

.btn-main-template3:hover {
    background-color: #95c6c4;
}

/* .countdown-title-template2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #ce0b0b;
    margin-bottom: 1rem;
} */


/* .timeline-container-template2 {
    padding: 2rem 1rem;
} */

/* .timeline-template2 {
    position: relative;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 3px solid #95c6c4;
} */

/* .timeline-item-template2 {
    position: relative;
    margin-bottom: 2rem;
}

.timeline-dot-template2 {
    position: absolute;
    left: -1.4rem;
    top: 0.3rem;
    width: 16px;
    height: 16px;
    background-color: #95c6c4;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px #95c6c4;
}

.timeline-content-template2 {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    max-width: 500px;
} */


/* .form-label-custom-template2 {
    font-weight: 500;
    color: #333;
    font-size: 0.9rem;
} */



/* .form-container-template2 {
    background-color: #95c6c4;
} */

/* .bg-form-template2 {
    background-color: #95c6c4;
} */

/* .btn-main-template2 {
    background-color: #6c5b7b;
    color: #fff;
    border: none;
} */

/* .btn-main-template2:hover {
    background-color: #95c6c4;
} */

/* .slider-container-template2 {
    overflow: hidden;
    width: 100%;
    position: relative;
} */

/* .slider-wrapper-template2 {
    overflow: hidden;
    width: 100%;
} */

/* .input-custom-template2 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} */

/* .form-container-template2 {
    background-color: #fff;
} */