.time-box {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  min-height: 60px; 
  width: 70px;
  justify-content: center;
}

.time-box strong {
  font-size: 1.8rem; 
}

.time-box span {
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
}
