.HavanaCountDown .time-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 60px;
  height: 50px;
}


.HavanaCountDown .time-box strong {
  font-size: 1.5rem;
    padding: 4px 0;

}

.HavanaCountDown .time-box span {
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
}

.HavanaCountDown .time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-image: url("../../images/frame2.webp");
  background-size: contain;     
  background-position: center;
  background-repeat: no-repeat;

  padding: 8px;                
}