
/* LINEA TEMPORAL CON EVENTOS */

.timeline {
    position: relative;
    max-width: 700px;
    margin: 50px auto;
}

.timeline-line {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: #705843;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item.left {
    text-align: right;
    padding-right: 60px;
}

.timeline-item.right {
    text-align: left;
    padding-left: 60px;
    left: 50%;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 4px solid #705843;
    border-radius: 50%;
    transform: translateY(-50%);
}

.timeline-item.left::before {
    right: -10px;
}

.timeline-item.right::before {
    left: -10px;
}

/* Estilo para los cards */
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
}

/* Estilo de iconos */
.icon {
    font-size: 24px;
    color: #007bff;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .timeline-line {
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-item {
        width: 100%;
        text-align: center;
        justify-content: center;
        /* Asegura que las tarjetas estén centradas */
    }

    .timeline-item.left {
        text-align: center;
        padding-right: 20px;
    }

    .timeline-item.right {
        text-align: center;
        padding-left: 20px;
        left: 0;
        /* Asegura que la tarjeta esté completamente alineada a la línea */
    }

    .timeline-item::before {
        content: none;
    }

    .card {
        margin: 0 auto 20px;
    }
}
