@font-face {
  font-family: "Pinyon Script";
  src: url("../../../assets/fonts/PinyonScript/PinyonScript-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.label {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;

}

.text {
  font-size: 3.5rem;
  font-family: "Pinyon Script";
  color: white;
}

.formLabel {
  font-weight: 500;
  color: #fff;
  font-size: 0.9rem;
}

.customInput {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
}

.formContainer {
  background-color: transparent;
}
.radioButton {
  color: white;
}
.submitButton {
    background-color: #031757;
    color: #fff;
    border: none;
}

.submitButton:hover {
  background-color: #95c6c4;

}
