.page-container {
  width: 100%;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-header {
  width: 100%;
  flex-shrink: 0;
  z-index: 10;
}

.page-section {
  flex: 1;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.page-section.center-vertical {
  justify-content: center;
}

.page-section.center-horizontal {
  align-items: center;
  align-content: center;
}

.page-content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: transparent;
}

.page-footer {
  width: 100%;
  flex-shrink: 0;
  z-index: 10;
}

@media (max-width: 768px) {
  .page-content {
    padding: 1rem 0.5rem !important;
  }
}