@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.wrapper {
  --template-text-font: "sans-serif";
  --template-title-font: "Allura";

  --template-subtitle-font: "Allura";
  --template-title-size: 4.75rem;
  --template-title-color: rgb(127, 127, 127);
  --template-title-weight: bold;
  --template-subtitle-font: "Gwendolyn";
  --template-subtitle-weight: bold;
  --template-subtitle-size: 2.5rem;
  --template-text-color: #705843;
  --template-bg-color: #705843;
  --template-low-font: "Gwendolyn";
  --template-text-size: 1.4rem
}



.wrapper section {
  background-color: rgba(254, 238, 212, 1);
}
