@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.wrapper {
  --text-font: "sans-serif";
    --title-font: "Allura";

  --subtitle-font: "Allura";
  --title-size: 2.75rem;
  --title-color: rgb(127, 127, 127);
  --title-weight: bold;
  --subtitle-font: "Gwendolyn";
  --subtitle-weight: bold;
  --subtitle-size: 2.5rem;
  --text-color: #705843;
  --bg-color: #705843;
  --low-font: "Gwendolyn";
  --text-size: 1.4rem
}



.wrapper section {
  background-color: rgb(255, 228, 175);
}
