@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap");

.wrapper {
  --template-text-font: "Times New Roman", Times, serif;
  --template-title-font: Arial;
  --template-title-size: 3.0rem;
  --template-title-color: rgb(0, 0, 0);
  --template-title-weight: normal;
  --template-subtitle-font: Arial;
  --template-subtitle-weight: bold;
  --template-subtitle-size: 2.3rem;
  --template-text-color: #000000;
  --template-bg-color: rgb(69, 69, 69);
  --template-low-font: "Gwendolyn";
  --template-text-size: 1.4rem
}

.wrapper h3 {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.wrapper button {
  background-color: transparent;
  border-radius: 10%;
  width: 200px;
  min-height: 50px;
  border: 2px black solid;
  color: black;
}

.CouplePhoto {
    background-color: white;
    padding: 30px;
    display: inline-block; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.CouplePhoto img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

