
.label {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.formLabel {
  font-weight: 500;
  color: #333;
  font-size: 0.9rem;
}

.customInput {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%;
}

.formContainer {

  background-color: #95c6c4;
}

.submitButton {
  background-color: #6c5b7b;
  color: #fff;
  border: none;
}

.submitButton:hover {
  background-color: #95c6c4;
}