@font-face {
    font-family: 'Architect Daughter';
    src: url('../../../assets/fonts/ArchitectDaughter/ArchitectsDaughter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Rotis sans serif';
    src: url('../../../assets/fonts/RotisSansSerif/RotisSansSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body-template5 {
    background-color: #f0a58e;
}

.section-bg-template5 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
    text-align: center;
}

.bg-portada-template5 {
    background-image: url('../images/backgrounds/3Londres.jpg');
    
}

.bg-countdown-template5 {
    background-image: url('../images/backgrounds/2Londres.jpg');
}

.bg-gallery-template5 {
    background-image: url('../images/backgrounds/4Londres.jpg');
}
 /* .bg-asistencia-template5
 {
    background-image: url('../images/backgrounds/confirmacion-asistencia.png');
}  */

.bg-itinerario-template5 {
    background-image: url('../images/backgrounds/3Londres.jpg');
    width: 100%;
    background-size: 100% auto;
    background-position: top center;
    background-repeat:repeat-y;
}

/* ===== Estilos para la sección de portada ===== */
/* .header-invite-template5 {
    position: relative;
} */

.header-photo-template5 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    z-index: 3;
    margin-top: 100px;
}

 .golden-circle-frame {
    background: url("../images/circulo-londres.png") center/cover no-repeat;
    position: absolute;
    width: 230px;
    height: 230px;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
} 


.invite-name-template5 {
    font-family: 'Luxurious Script', cursive;
    font-size: 4rem;
    color: #000;
    margin-top: 40px;
}

.invite-text-template5 {
    font-size: 1.2rem;
    font-family: 'Open sans';
    width: 60%;
    color: #000;
}


.invite-date-template-5,
.invite-location-template5 {
    font-family: 'Luxurious Script', cursive;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #000;
}

.section-title-template5 {
    font-family: 'Luxurious Script', cursive;
    font-size: 3rem;
    color: #000;
}


.song-link-template5 {
    font-size: 1rem;
    color: #000;
}


.btn-cancion{
    background-color: #031757;
    color: #f7f0f0
} 

.section-subtitle-template5 {
    font-size: 1rem;
    color: #000;
}

.countdown-section-template5 {
    position: relative;
    text-align: center;
    padding: 3rem 1rem;
    overflow: hidden;
    color: #000;
}

.countdown-numbers-template5 {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.countdown-item-template5 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.invite-date-template5 {
    font-family: 'Rotis sans serif', cursive;
    font-size: 1.4rem;
    color: #000;
    text-transform: capitalize;
}

.countdown-circle-template5 {
    width: 70px;
    height: 80px;
    background-image: url('../images/circle-timer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}


.number-template5 {
    font-family: 'Rotis sans serif', cursive;
    font-size: 2rem;
    color: #000;
    line-height: 1;
}

.label-template {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #fff;
    font-family: 'Rotis sans serif', cursive;
}

 /* .timeline-item h5 {
    margin-top: 0;
    color: #000;
    font-weight: bold;
} */
 

.timeline-item-template5 p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'faustina';
    color: #000;
    line-height: 1.4;
}

/* .timeline-cake-template5 {
    width: 150px;
    height: 150px;
    margin: 90px auto 0 auto;

    background-image: url('../images/cake.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    pointer-events: none;
} */


 .slider-track{
    display: flex;
    white-space: nowrap;
    overflow:visible;
    
} 

.slider-image{
    height: 100%;
    width: auto;
    margin-right: 1rem;
    flex-shrink: 0;
    object-fit: cover;


} 

/* .square-carousel-template5 {
    background: url("../images/cuadro-carousel.png") center/cover no-repeat;
    aspect-ratio: 3 / 1;
    position: relative;
    overflow: hidden;
    padding: 12% 10%; 
    height: 330px; 
    right: 50px ;
    
}     */

.form-title-template5 {
    font-family: 'Architect Daughter', cursive;
    font-size: 3rem;
    color: #000;
}


 .form-label-custom-template5
 {
    font-weight: 500;
    color: #000;
    font-size: 0.9rem;
} 

 .input-custom-template5
 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} 

 .bg-form-template2 {
    background-color: #2C4D65;
} 

.btn-main-template5 {
    background-color: #031757;
    color: #fff;
    border: none;
}

.btn-main-template5:hover {
    background-color: #95c6c4;
}

/* .countdown-title-template2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #ce0b0b;
    margin-bottom: 1rem;
} */


/* .timeline-container-template2 {
    padding: 2rem 1rem;
} */

/* .timeline-template2 {
    position: relative;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 3px solid #95c6c4;
} */

/* .timeline-item-template2 {
    position: relative;
    margin-bottom: 2rem;
}

.timeline-dot-template2 {
    position: absolute;
    left: -1.4rem;
    top: 0.3rem;
    width: 16px;
    height: 16px;
    background-color: #95c6c4;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px #95c6c4;
}

.timeline-content-template2 {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    max-width: 500px;
} */


/* .form-label-custom-template2 {
    font-weight: 500;
    color: #333;
    font-size: 0.9rem;
} */



/* .form-container-template2 {
    background-color: #95c6c4;
} */

/* .bg-form-template2 {
    background-color: #95c6c4;
} */

/* .btn-main-template2 {
    background-color: #6c5b7b;
    color: #fff;
    border: none;
} */

/* .btn-main-template2:hover {
    background-color: #95c6c4;
} */

/* .slider-container-template2 {
    overflow: hidden;
    width: 100%;
    position: relative;
} */

/* .slider-wrapper-template2 {
    overflow: hidden;
    width: 100%;
} */

/* .input-custom-template2 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} */

/* .form-container-template2 {
    background-color: #fff;
} */