/* ? Fonts */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* ? General */
html {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* ? Utilities */

.fontTitle {
    font-family: 'Allura', cursive;
    font-size: 35px;
    color: #705843;
}

/* Texto pequeño debajo de los nombres */
.couple-description {
    font-size: 20px;
    color: #757575;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}

/* ? Song */
.grecaptcha-badge {
    visibility: collapse !important;
}



/* TODO: Borrar */
/*
body {
    overflow: scroll;
    background-color: #ffecdb;
    color: #705843;
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera 
}

*/

/*
.invitacionContainer {
    max-width: 600px;
    /*margin: 60px auto;*/
    /*margin-top: 80px;
    /* Más margen superior */
    /*padding: 40px 20px;
    /* Más padding para márgenes internos 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
*/

/* Contenedor de la foto con márgenes amplios */
/*
.contenedorFoto {
    margin: 0 auto 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
*/

/*
.fotoNovios {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fotoNovios:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
*/

