@import url("./TemplateFonts.css"); /* ? Would block charge */

/* ? This file defines the basics styles of each template. */

:root {
  --template-bg-image: none;
  --template-bg-color: rgb(72, 72, 72);
}

/* ? Overrides */
.Template html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.Template body {
  font-family: var(--template-text-font);
  font-size: var(--template-text-size);
  color: var(--template-text-color);
  background-color: var(--template-bg-color);
  background-image: var(--template-bg-image);
  line-height: 1.5;
}

.Template section {
  min-height: min-content;
  padding: 5px;
}

/* ? Extended */
.Template section.sep-top {
  border-top: solid rgba(0, 0, 0, 0.1) 2px;
}

.Template section.sep-bottom {
  border-bottom: solid rgba(0, 0, 0, 0.1) 2px;
}

.Template section.emphasis {
  border: black 2px dashed;
  transition: 0.3s;
}

.Template section.emphasis:hover {
  border: black 2px solid;
  scale: 1.02;
  transition: 0.3s;
}

/* ? Utilities */ /* From Tailwind (I will change this) */
.Template .bg-image-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Template .bg-image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Template .bold {
  font-weight: bold;
}
.Template .logo {
  max-width: 250px;
}
.Template .text-xl {
  font-size: 1.25rem;
}
.Template .text-2xl {
  font-size: 1.5rem;
}
.Template .text-3xl {
  font-size: 1.875rem;
}
.Template .text-4xl {
  font-size: 2.25rem;
}
.Template .text-5xl {
  font-size: 3rem;
}
.Template .text-6xl {
  font-size: 3.75rem;
}
.Template .white-space-nowrap {
  white-space: nowrap;
}

.Template .couple-description {
  font-size: 20px;
  color: #757575;
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}

/* ? Song */
.grecaptcha-badge {
  visibility: collapse !important;
}

/* TODO: Borrar */
/*
body {
    overflow: scroll;
    background-color: #ffecdb;
    color: #705843;
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera 
}

*/

/*
.invitacionContainer {
    max-width: 600px;
    /*margin: 60px auto;*/
/*margin-top: 80px;
    /* M치s margen superior */
/*padding: 40px 20px;
    /* M치s padding para m치rgenes internos 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
*/

/* Contenedor de la foto con m치rgenes amplios */
/*
.contenedorFoto {
    margin: 0 auto 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
*/

/*
.fotoNovios {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fotoNovios:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
*/
