.names-separator {
  display: flex;
  margin: 0 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  line-height: 1px;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 320px) {
  .names-separator {
    flex-direction: row;
  }
}
