.names-separator {
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nowrap {
    white-space: nowrap;
}

@media (min-width: 320px) {
    .names-separator {
        flex-direction: row;
    }
}
