.timeline {
  position: relative;
  padding-left: 1.5rem;
  border-left: 2px solid #ccc;
}

.timelineItem {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.timelineContent h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.3rem;
  color: #333;
}

.timelineContent p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}

.timelineDot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  left: -6px;
  top: 0.5rem;
}
