
.section {
  position: relative;
  text-align: center;
  padding: 3rem 1rem;
  overflow: hidden;
}

.title {
  font-family: "New Waltograph", cursive;
  font-size: 1.7rem;
  color: #6c5b7b;
  margin-bottom: 1rem;
}

.numbers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-family: "New Waltograph", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #6c5b7b;
  line-height: 1;
}

.label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #333;
    font-family: 'New Waltograph', cursive;
}