@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap");

.wrapper {
  --template-text-font: "Times New Roman", Times, serif;
  --template-title-font: "Gwendolyn";
  --template-title-size: 5.5rem;
  --template-title-color: rgb(0, 0, 0);
  --template-title-weight: normal;
  --template-subtitle-font: "Gwendolyn";
  --template-subtitle-weight: bold;
  --template-subtitle-size: 2.5rem;
  --template-text-color: #000000;
  --template-bg-color: rgb(69, 69, 69);
  --template-low-font: "Gwendolyn";
  --template-text-size: 1.4rem
}

.wrapper button {
  background-color: transparent;
  border-radius: 10%;
  width: 200px;
  min-height: 50px;
  border: 2px black solid;
  color: black;
}



.wrapper section {
    padding-right: 25%;
}
          
/*

            <span className="fw-bold text-2xl"> {wedding.location.city}</span>
            <br />
            <span className="fw-bold text-2xl">{wedding.location.country}</span>
*/