@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

:root {
  --text-font: "Times New Roman", Times, serif;
  --title-font: "Pinyon Script";
  --title-size: 5.5rem;
  --title-color: rgb(0, 0, 0);
  --title-weight: bold;
  --subtitle-font: "Pinyon Script";
  --subtitle-weight: bold;
  --subtitle-size: 2.5rem;
  --text-color: #000000;
  --bg-color: rgb(69, 69, 69);
  --low-font: "Pinyon Script";
  --text-size: 1.8rem
}

.EleganteParis button {
  background-color: transparent;
  border-radius: 10%;
  border: 2px black solid;
  color: black;
}

.EleganteParis section {
    margin-right: 110px;
}
          
/*

            <span className="fw-bold text-2xl"> {wedding.location.city}</span>
            <br />
            <span className="fw-bold text-2xl">{wedding.location.country}</span>
*/