@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap");

.wrapper {
  --text-font: "Times New Roman", Times, serif;
  --title-font: "Gwendolyn";
  --title-size: 5.5rem;
  --title-color: rgb(0, 0, 0);
  --title-weight: normal;
  --subtitle-font: "Gwendolyn";
  --subtitle-weight: bold;
  --subtitle-size: 2.5rem;
  --text-color: #000000;
  --bg-color: rgb(69, 69, 69);
  --low-font: "Gwendolyn";
  --text-size: 1.4rem
}

.wrapper button {
  background-color: transparent;
  border-radius: 10%;
  border: 2px black solid;
  color: black;
}

.wrapper section {
    padding-right: 25%;
}
          
/*

            <span className="fw-bold text-2xl"> {wedding.location.city}</span>
            <br />
            <span className="fw-bold text-2xl">{wedding.location.country}</span>
*/