@font-face {
    font-family: 'Pinyon Script';
    src: url('../../../assets/fonts/PinyonScript/PinyonScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Sistina';
    src: url('../../../assets/fonts/Sistina/Sistina\ LT\ W04\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

.body-template2 {
    background-color: #2C4D65;
}

.section-bg-template2 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
    text-align: center;
}

.bg-portada-template2 {
    background-image: url('../images/backgrounds/fondo.png');
}

.bg-countdown-template2 {
    background-image: url('../images/backgrounds/countdown.jpg');
}

.bg-gallery-template2 {
    background-image: url('../images/backgrounds/fondo.png');
}

.bg-itinerario-template2 {
    background-image: url('../images/backgrounds/itinerario.jpg');
    background-size: contain;
    background-repeat: repeat;


}

/* ===== Estilos para la sección de portada ===== */
.header-invite-template2 {
    position: relative;
}

.header-photo-template2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    z-index: 3;
    margin-top: 25px;
}

 .circle-frame {
    background: url("../images/circulo-flores.png") center/cover no-repeat;
    position: absolute;
    width: 450px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 90px;
    pointer-events: none;
} 


.invite-name-template2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 3.5rem;
    color: #fff;
    margin-top: 80px;
}

.invite-text-template2 {
    font-size: 1.2rem;
    font-family: 'Sistina';
    width: 60%;
    color: #fff;
}

.invite-date-template2,
.invite-location-template2 {
    font-family: 'Sistina', cursive;
    font-size: 1.6rem;
    margin-bottom: 0;
    color: #fff;
}

.section-title-template2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 4rem;
    color: #fff;
}


.song-link-template2 {
    font-size: 1rem;
    color: #fff;
}


.btn-cancion{
    background-color: #031757;
    color: #f7f0f0
} 

.section-subtitle-template2 {
    font-size: 1rem;
    color: #fff;
}

.countdown-section-template2 {
    position: relative;
    text-align: center;
    padding: 3rem 1rem;
    overflow: hidden;
    color: #fff;
}

.countdown-numbers-template2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.countdown-item-template2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-template2 {
    font-family: 'Sistina', cursive;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1;
}

.label-template2 {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #fff;
    font-family: 'Sistina', cursive;
}

 .timeline-item h5 {
    margin-top: 0;
    color: #fff;
    font-weight: bold;
}

.timeline-item p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'faustina';
    color: #ffffff;
    line-height: 1.4;
}



 .slider-track{
    display: flex;
    white-space: nowrap;
    overflow:visible;
    
} 

.slider-image{
    height: 100%;
    width: auto;
    margin-right: 1rem;
    flex-shrink: 0;
    object-fit: cover;


} 

.square-carousel {
    background: url("../images/cuadro-carrusel.png") center/cover no-repeat;
    aspect-ratio: 3 / 1; /* Ajusta según la forma real del cuadro */
    position: relative;
    overflow: hidden;
    padding: 12% 10%; /* Ajusta la ventana interna del cuadro */
    height: 330px; 
    right: 50px ;
    
}   



 .form-label-custom-template2 {
    font-weight: 500;
    color: #fff;
    font-size: 0.9rem;
} 



 .bg-form-template2 {
    background-color: #2C4D65;
} 

.btn-main-template2 {
    background-color: #031757;
    color: #fff;
    border: none;
}

.btn-main-template2:hover {
    background-color: #95c6c4;
}

/* .countdown-title-template2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #ce0b0b;
    margin-bottom: 1rem;
} */


/* .timeline-container-template2 {
    padding: 2rem 1rem;
} */

/* .timeline-template2 {
    position: relative;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 3px solid #95c6c4;
} */

/* .timeline-item-template2 {
    position: relative;
    margin-bottom: 2rem;
}

.timeline-dot-template2 {
    position: absolute;
    left: -1.4rem;
    top: 0.3rem;
    width: 16px;
    height: 16px;
    background-color: #95c6c4;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 0 2px #95c6c4;
}

.timeline-content-template2 {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    max-width: 500px;
} */


/* .form-label-custom-template2 {
    font-weight: 500;
    color: #333;
    font-size: 0.9rem;
} */

/* .input-custom-template2 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} */

/* .form-container-template2 {
    background-color: #95c6c4;
} */

/* .bg-form-template2 {
    background-color: #95c6c4;
} */

/* .btn-main-template2 {
    background-color: #6c5b7b;
    color: #fff;
    border: none;
} */

/* .btn-main-template2:hover {
    background-color: #95c6c4;
} */

/* .slider-container-template2 {
    overflow: hidden;
    width: 100%;
    position: relative;
} */

/* .slider-wrapper-template2 {
    overflow: hidden;
    width: 100%;
} */

/* .input-custom-template2 {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
} */

/* .form-container-template2 {
    background-color: #fff;
} */